body{
    background-image: url("../images/img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
}
.w1{background-color: dodgerblue;
    background-image: url("../images/klematis_big.jpg");
    background-repeat: no-repeat;
    background-position: right;    
}
.w2{color: mediumseagreen;}
.w3{border: 2px solid violet;}
.w4{background-color: #ff6347;}
.w5{background-color: red;}

